@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('res/fonts/sf-ui-display-regular-webfont.woff2') format('woff2'),
        url('res/fonts/sf-ui-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.text {
    font-family: sf_ui_displayregular;
}

.centered {
    text-align: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.display[data-size="big"] {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.display[data-size="normal"] {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.display[data-size="small"] {
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 8px;
    color: #3c763d;
    background-color: #dff0d8;
}

.button {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    color: #000000;
    background-color: #fffff1;
    margin-left: 40vw;
    margin-right: 40vw;
}